.cabecalhoPrincipal .container {
    display: flex; 
    align-items: center; /*alinhando os items que estão dentro do container princial*/
    justify-content: space-between; /* espaço entre elementos */
}

.cabecalhoPrincipal-nav {
    display: flex;  /*vai colocar os links do menu um do lado do outro*/
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between; 
}

.rodapePrincipal-patrocinadores-list {
    display: flex; 
    align-items: center;
    justify-content: space-around; /* espaço entorno do elemento */
    width: 70%;
    margin-right: 5%; 
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
} 

.rodapePrincipal-navMap-list {
    display: flex;
    /*flex-direction: column; /* posiciona os elemento por colunas */
    /*flex-wrap: wrap; /* quebra de coluna, se não der quebra e vai para a proxima coluna */
    flex-flow: column wrap; 
    height: 250px; /* altura da coluna */
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
    
}